@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;300;400;500;600;700;800&display=swap");

:root {
 --font-family: "DM Sans", sans-serif;

 --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #00ca36 99.55%);

 --color-bg: #040c18;
 --color-footer: #031b34;
 --color-blog: #042c54;
 --color-title: #00ca36;
 --color-text: #ffffff;
 --color-subtext: #7194ff;
}
