.kudos__cta {
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction: row;
 padding: 2rem;
 border-radius: 1rem;
 background: var(--gradient-bar);
}

.kudos__cta-content {
 display: flex;
 flex-direction: column;

 text-align: left;
 color: #fff;
}

.kudos__cta-content p {
 font-family: var(--font-family);
 font-size: 12px;
 line-height: 30px;
 font-weight: 500;
}

.kudos__cta-content h3 {
 font-family: var(--font-family);
 font-size: 24px;
 line-height: 45px;
 font-weight: 800;
}

.kudos__cta-btn {
 display: flex;
 justify-content: center;
 align-items: center;

 margin-left: 2rem;
}

.kudos__cta-btn button {
 background: #000;
 color: #fff;
 font-family: var(--font-family);
 font-weight: 700;
 font-size: 18px;
 line-height: 30px;
 padding: 0.5rem 1rem;
 border-radius: 2rem;

 border: none;
 outline: none;
 cursor: pointer;
 min-width: 150px;
}

@media screen and (max-width: 650px) {
 .kudos__cta {
  flex-direction: column;
 }

 .kudos__cta-btn {
  margin: 2rem 0 0;
 }
}

@media screen and (max-width: 550px) {
 .kudos__cta {
  flex-direction: column;
  margin: 4rem 2rem;
 }

 .kudos__cta-content h3 {
  font-size: 18px;
  line-height: 32px;
 }

 .kudos__cta-btn button {
  font-size: 14px;
  line-height: 28px;
 }
}
